/****** General ***********/
* {
    font-family: 'Roboto';
    

}

:root {
    --main-color: #F2F2F2;;
    --main-bg-color:rgba(234, 234, 234, 1);

    --filter-bg-color:rgba(147, 86, 220, 1);
    

}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
    font-size: 16px;
}

.header {
    width: 1440px; 
    height: 96px;
    padding: 30px;
    gap: 10px;

}

.header__logo{

    font-family: Shrikhand;
    gap: 10px;
}